{% extends 'base.html.twig' %}

{% block title %}{{ 'Password Help'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ 'Password Help'|trans }}</h3>
            <p class="card-subtitle">{{ 'Contact an administrator to reset your password.'|trans }}</p>
        </div>

        <div class="card-body">
            <p style="color: #475569; line-height: 1.6;">
                {{ 'For security reasons, password resets are handled by an administrator.'|trans }}
                {{ 'Please contact your admin or helpdesk manager to restore access.'|trans }}
            </p>
            <div class="btn-group" style="margin-top: 1rem;">
                <a class="btn btn-secondary" data-turbo-frame="_top" href="{{ path('app_login') }}" style="text-decoration: none;">{{ 'Back to Login'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
