<nav class="sidebar">
    <div class="brand">Genesys Helpdesk</div>
    <ul class="nav-menu">


        <li>
            <a href="{{ path('app_dashboard') }}" class="nav-link {{ app.request.attributes.get('_route') == 'app_dashboard' ? 'active' : '' }}">
                Dashboard
            </a>
        </li>


        <li>
            <a href="{{ path('app_ticket_create') }}" class="nav-link {{ app.request.attributes.get('_route') == 'app_ticket_create' ? 'active' : '' }}">
                Create Ticket
            </a>
        </li>

        <li>
            <a href="{{ path('app_ticket') }}" class="nav-link {{ app.request.attributes.get('_route') == 'app_ticket' ? 'active' : '' }}">
                Tickets
            </a>
        </li>

        <li>
            <a href="{{ path('app_agents') }}" class="nav-link {{ app.request.attributes.get('_route') == 'app_agents' ? 'active' : '' }}">
                Register Agent
            </a>
        </li>
        <li>
            <a href="{{ path('app_user_create') }}" class="nav-link {{ app.request.attributes.get('_route') == 'app_user_create' ? 'active' : '' }}">
                Create User
            </a>
        </li>
        <li>
            <a href="{{ path('app_ticket_assign') }}" class="nav-link {{ app.request.attributes.get('_route') == 'app_ticket_assign' ? 'active' : '' }}">
                Assign Ticket
            </a>
        </li>
       
    </ul>
</nav>